* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.global{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* CONTENITORE APP */
.container {
  display: flex;
  justify-content: start;
  background-color: bisque;
  margin: auto;
  width: 80%;
  min-width: 900px;
  height: 95%;
  border: 1px solid #A2A2A2;
  z-index: 999;
}

.col-left {
  float: left;
  width: 40%;
  min-width: 30%;
  height: 100%;
  border-right: 1px solid #A2A2A2;
}
.col-right {
  width: calc(100% - 40%);
  float: right;
}


/* contenitore centrale -> lato SX -> top box */
.top-left-box {
  display: flex;
  justify-content: space-between;
  background-color: #E5E5E5;
  padding: 20px 0;
  width: 100%;
  border-bottom: 1px solid #A2A2A2;
}

.nome-utente {
  margin: 0 20px;
}

.icons-container{
  display: flex;
  justify-content: space-between;
  width: 100px;
  margin: 0 20px;
}

i {
  color: #A2A2A2;
  font-size: 20px;
}

/* Notifications */
.top-left-notification {
  display: flex;
  justify-content: start;
  padding: 20px 0;
  background-color: #7BD1FD;
  border-bottom: 1px solid #A2A2A2
}

.bell {
  display: flex;
  justify-content: center;
  margin: 0 10px;
  padding: 8px;
  background-color: white;
  border-radius: 100%;
  width: 40px;

}

/* contenitore centrale -> lato DX -> top box */
.top-right-box {
  display: flex;
  justify-content: space-between;
  background-color: #E5E5E5;
  padding: 20px 0;
  width: 100%;
  border-bottom: 1px solid #A2A2A2
}



