/* Esercizio di oggi: Boolzapp
nome repo: vue-boolzapp
Milestone 1
Replica della grafica con la possibilità di avere messaggi scritti dall’utente (verdi) e dall’interlocutore (bianco) assegnando due classi CSS diverse
Visualizzazione dinamica della lista contatti: tramite la direttiva v-for, visualizzare nome e immagine di ogni contatto
Note:
non è importante per ora che tutti gli elementi grafici siano presenti, l’importante che la struttura sia come da specifiche
l’elenco degli utenti deve essere generato con un v-for e stampare almeno il nome e l’avatar (ultimo messaggio e data per ora possono essere fake)
provate sia con tanti e pochi messaggi con messaggi lunghi o corti. La pagina non si deve mai spaccare */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:'Lato', sans-serif;
}

.global{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom,
  #009688 0px,
  #009688 15vh,
  #dddbd1 15vh,
  #dddbd1 100%);
  height: 100vh;
  
}

/* CONTENITORE APP */
.container {
  display: flex;
  justify-content: start;
 
  margin: auto;
  width: 80%;
  min-width: 900px;
  height: 95%;
  border: 1px solid lightgray;
  z-index: 999;
}

.col-left {
  background-color: white;
  width: 40%;
  min-width: 30%;
  height: 100%;
  border-right: 1px solid lightgray;
  overflow-y: scroll;
}
.col-right {
  display: flex;
  flex-direction: column;
  justify-content: start;
  background-image: url(img/mine.jpg);
  width: calc(100% - 40%);
}

/* contenitore centrale -> lato SX -> top box */
.top-left-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background-color: #E5E5E5;
  width: 100%;
}

.nome-utente {
  display: flex;
  justify-content: start;
  align-items: center;
}

.icons-container{
  display: flex;
  justify-content: space-between;
  width: 100px;
  margin: 0 20px;
}

i {
  color: #B6BBBC;
  font-size: 20px;
  cursor: pointer;
}

/* Notifications */
.top-left-notification {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 70px;
  background-color: #7BD1FD;
  width: 100%;
}


/* Sistemare */
#b-bell {
  background-color: white;
  color: #7BD1FD;
  margin: 0 10px;
  padding: 8px;
  border-radius: 50%;
}

a {
  color: #B6BBBC;
  font-size: 15px;
}

.container-input {
  display: flex;
  align-items: center;
  background-color: #E5E5E5;
  padding: 2px;
  height: 35px;
}

input {
  padding: 5px;
  width: 100%;
  border: none;
  border-radius: 5px;
}

/* CHAT --> ITEMS  */
.chat {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 70px;
  border-bottom: 1px solid lightgray;
}

.container-item {
  width: 100%;
}

.avatar {
  display: inline-block;
  width: 60px;
  height: 60px;
  margin: 0 10px;
  border-radius: 100%;
}

.f-right {
  float: right;
  margin-right: 10px;
}

/* RIGHT SIDE */
/* contenitore centrale -> lato DX -> top box */
.top-right-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background-color: #E5E5E5;
  width: 100%;
}

.text-container{
  height: 100%;
  padding: 50px;
  overflow: scroll;
}

/* contenitore centrale -> lato DX -> bottom box */
.bottom-right-box {
  display: flex;
  justify-content: space-between;
  background-color: #F0EAE5;
  padding: 10px 0;
  width: 100%;
}

.container-smile, .container-mic {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  margin: 0 20px;
}

#mex {
  height: 50px;
  padding: 5px;
  width: 80%;
  border: none;
  border-radius: 5px;
}

.color-gray{
  color: #B6BBBC;
  font-size: 10px;
}

/* ***** R-messages */
.right-message .message {
  position: relative;
  background-color: white;
  margin: 5px 0;
  min-width: 40%;
  max-width: 60%;
  border-radius: 10px;
  padding: 20px;
  clear: both;
}

.right-message .message.sent {
  float: right;
  background-color: #D5F9BA;
}

.right-message .message.received {
  float: left;
}

.right-message .message .message-time {
  position: absolute;
  right: 5px;
  bottom: 5px;
  font-size: 10px;
  color: #B6BBBC;
}

.active {
  background-color: #E4E6E6;
}







