* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.global{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #D0D3CB;
  height: 100vh;
}

/* CONTENITORE APP */
.container {
  display: flex;
  justify-content: start;
  background-image: url(abab60f06ab52fa7846593e6ae0c9a0b.png);
  margin: auto;
  width: 80%;
  min-width: 900px;
  height: 95%;
  border: 1px solid #A2A2A2;
  z-index: 999;
}

.col-left {
  background-color: white;
  width: 40%;
  min-width: 30%;
  height: 100%;
  border-right: 1px solid #A2A2A2;
}
.col-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(100% - 40%);
}

/* contenitore centrale -> lato SX -> top box */
.top-left-box {
  display: flex;
  justify-content: space-between;
  background-color: #E5E5E5;
  padding: 20px 0;
  width: 100%;
}

.nome-utente {
  margin: 0 20px;
}

.icons-container{
  display: flex;
  justify-content: space-between;
  width: 100px;
  margin: 0 20px;
}

i {
  color: #A2A2A2;
  font-size: 20px;
  cursor: pointer;
}

/* Notifications */
.top-left-notification {
  display: flex;
  justify-content: start;
  padding: 20px 0;
  background-color: #7BD1FD;
  border-bottom: 1px solid #A2A2A2;
}

.bell {
  display: flex;
  justify-content: center;
  margin: 0 10px;
  padding: 8px;
  background-color: white;
  border-radius: 100%;
  width: 40px;
}

#b-bell {
  color: #7BD1FD;
}

a {
  color: #A2A2A2;
  font-size: 15px;
}

.container-input {
  display: flex;
  align-items: center;
  background-color: #E5E5E5;
  padding: 2px;
  height: 35px;
}

input {
  padding: 5px;
  width: 100%;
  border: none;
  border-radius: 5px;
}

/* CHAT --> ITEMS  */
.container-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #A2A2A2;
}

.container-img {
  display: flex;
  justify-content: center;
  margin: 0 10px;
  padding: 8px;
  border-radius: 100%;
  width: 40px;
}

.avatar {
  display: inline-block;
  width: 40px;
  border-radius: 100%;
}

/* contenitore centrale -> lato DX -> top box */
.top-right-box {
  display: flex;
  justify-content: space-between;
  background-color: #E5E5E5;
  padding: 20px 0;
  width: 100%;
}

/* contenitore centrale -> lato DX -> bottom box */
.bottom-right-box {
  display: flex;
  justify-content: space-between;
  background-color: #F0EAE5;
  padding: 10px 0;
  width: 100%;
}

.container-smile, .container-mic {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  margin: 0 20px;
}

#mex {
  height: 50px;
  padding: 5px;
  width: 80%;
  border: none;
  border-radius: 5px;
}



